body{
  background-image: url(assets/books-laptop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-container{
  backdrop-filter: blur(2px);
  
}
.clock{
  color: white;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: centre;
  text-shadow: 10px;
}